$input-border-radius: 0.25rem;
$input-font-size: 1rem;
$input-padding: 0.5rem;
$input-margin: 0.25rem;

body {
  background-color: #a35436;
  color: white;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#app-header {
  padding: 0.5rem;

  .home-link {
    font-weight: bold;
  }
}

main {
  text-align: center;
  flex: 1 0 auto;
}

#app-footer {
  display: flex;
  flex-direction: row-reverse;
  padding: 0.25rem;
  font-size: 24px;
}

a {
  color: ivory;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.btn {
  color: white;
  background-color: #64877a;
  border: none;
  border-radius: $input-border-radius;
  font-size: $input-font-size;
  cursor: pointer;
  padding: $input-padding;
  margin: $input-margin;

  &:hover {
    background-color: rgba(100, 135, 122, 0.8);
    text-decoration: none;
  }

  &.btn-remove {
    background-color: maroon;

    &:hover {
      background-color: rgba(128, 0, 0, 0.7);
    }
  }

  &.block {
    display: block;
    margin: 0.5rem auto;
    min-width: 6rem;
    max-width: 10rem;
  }

  &.inline,
  &.btn-icon {
    display: inline-block;
  }
}

.btn-group {
  margin-top: 1rem;
}

input {
  border: none;
  border-radius: $input-border-radius;
  font-size: $input-font-size;
  padding: $input-padding;
  margin: $input-margin;
}

.player-list {
  padding-left: 1.25rem;
  margin: 1rem;
  max-width: 400px;

  @media (min-width: 430px) {
    margin: 1rem auto;
  }

  div {
    display: flex;
  }

  .player {
    margin-bottom: 0.5rem;
  }

  .player-name {
    text-align: left;
    flex-grow: 1;
    margin: $input-margin;
    padding: $input-padding;
    border-bottom: solid 1px;
  }
}
